<div class="p-3">
    <h1>Главная страница</h1>

    <h5 class="pb-3">
        Эта страница является частью нашего host-application, которое собирает в
        себе множество приложений от различных бизнес-юнитов.
    </h5>

    <div class="d-flex flex-column">
        <label class="pb-3">
            Ваше имя:
            <input
                type="text"
                id="username"
                name="username"
                [(ngModel)]="username"
                (change)="setName()"
            />
        </label>
    </div>

    <h2 *ngIf="oilFlag">Мы знаем, вы любите нефть!</h2>
</div>
